.Card{
    border-radius: 30px;
    padding: 25px;
    background-color:rgb(212, 118, 41);
    margin: 20px;
    width: 15rem;
}

.Card:hover{
    transition: transform .6s;
    background-color: rgb(231, 146, 77);;
    transform: scale(1.1);
}

.card-body{
    margin-top: -15px;
    margin-bottom: -15px;
}

.imageDog{
    width: 13rem;
    height: 13rem;
    padding: 0.5rem;
}

.imgDiv{
    justify-content: center;
    margin: 1rem;
    display: flex;
}

.card-title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}