.options {
    width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
}

/* display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: rgb(212, 118, 41); */
