.containerForm{
    background-image: url('../../img/perros2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;    
    position: relative;
    padding: 3rem;
    text-align: center;
    line-height: 45px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .divForm{
    background-color: rgb(253, 140, 1);
    border-radius: 100px;
    border-style: solid;
    margin-left: 20%;
    margin-right: 20%;
  }
  
  h4{
    margin-bottom: -5px;
  }
  
  .divForm{
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  
  .btnS{
      font-size:1.1rem;
      background-color: rgb(255, 255, 255);
      border: 1px;
      border-radius: 10px;
      margin: 15px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  }
  
  p.danger {
      color: red;
      font-size: 10px;
    }
    
  input.danger {
     border: 2px solid red;
  }
  
  .delete{
    font-size: 15px;
    background-color: rgb(203, 56, 56);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    border-radius: 4px;
    height: 25px;
    width: 25px;
  }
  
  .temp{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 15px;
  }
  
  .btnT{
    margin: 10px;
    background-color: rgb(228, 184, 148);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
  }
  .inputStyle{
    border-radius: 10px;
  }